<h2 class="mat-h2" *ngIf="cars.length === 0">Nincs adat</h2>
<table *ngIf="cars.length > 0" mat-table [dataSource]="cars" class="mat-elevation-z8">

  <ng-container matColumnDef="brand">
    <th class="table-text" mat-header-cell *matHeaderCellDef> Gyártó</th>
    <td class="table-text" mat-cell *matCellDef="let car"> {{car.brand}}</td>
  </ng-container>

  <ng-container matColumnDef="model">
    <th class="table-text" mat-header-cell *matHeaderCellDef> Típus</th>
    <td class="table-text" mat-cell *matCellDef="let car"> {{car.model}}</td>
  </ng-container>

  <ng-container matColumnDef="color">
    <th class="table-text" mat-header-cell *matHeaderCellDef> Szín</th>
    <td class="table-text" mat-cell *matCellDef="let car">
      <i *ngIf="car.color !== null" class="fas fa-car fa-2x" [ngStyle]="{'color': car.color}"></i>
      <p *ngIf="car.color === null" class="mat-body">Nincs szín beállítva</p>
    </td>
  </ng-container>

  <ng-container matColumnDef="buildDate">
    <th class="table-text" mat-header-cell *matHeaderCellDef> Gyártási Dátum</th>
    <td class="table-text" mat-cell *matCellDef="let car"> {{car.buildDate | date:'yyyy.MM.dd.'}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
