<form [formGroup]="carForm" (ngSubmit)="onSubmitToFirebase()">
  <mat-form-field class="car-form-field">
    <input matInput placeholder="Gyártó" required formControlName="brand">
  </mat-form-field>
  <br>
  <mat-form-field class="car-form-field">
    <input matInput placeholder="Típus" required formControlName="model">
  </mat-form-field>
  <br>
  <mat-form-field class="car-form-field">
    <input matInput placeholder="Szín" formControlName="color" [matAutocomplete]="auto">
  </mat-form-field>
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let color of filteredOptions | async" [value]="color">
      {{ color }}
    </mat-option>
  </mat-autocomplete>
  <br>
  <mat-form-field class="car-form-field">
    <input required matInput [matDatepicker]="picker" placeholder="Gyártási időpont" formControlName="buildDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <br>
  <p class="mat-small">*A csillaggal megjelölt mezők kötelezők</p>
  <button *ngIf="(carForm.valid)" mat-raised-button color="accent">Mentés</button>
</form>
