<form class="example-form">
  <mat-form-field>
    <input matInput placeholder="Gyártó" required>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Típus" required>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="color" value="#ffffff" placeholder="Szín">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Gyártási időpont">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <br>
  <button mat-raised-button color="primary">Mentés</button>
</form>
